MICRO_ROS_AGENT_PORT=8888
ROSBRIDGE_PORT=9090
ROS_DOMAIN_ID=0
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
MYSQL_HOST_PORT=3307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=pipeline_robot
MYSQL_USER=dev
MYSQL_PASSWORD=123456
TZ=Asia/Shanghai
CAMERA_ALGO_START_COMMAND=
ROS1_BRIDGE_COMMAND=ros2 run ros1_bridge dynamic_bridge